/* General Section start */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lora", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}
header {
  margin-bottom: 150px;
}
section {
  margin-bottom: 150px;
}
main {
  margin-bottom: 150px;
}
.link-button {
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  background: rgb(255, 57, 22);
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.link-button:hover {
  cursor: pointer;
  background: tomato;
}
.content-parent div {
  margin-bottom: 40px;
}
.content-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content-child {
  height: 200px;
  width: 100vh;
}
.content-child h2 {
  font-size: 40px;
  font-weight: 700;
}
.content-child p {
  font-size: 20px;
  font-weight: 500;
}

/* General Section end */

/* Header section start */
header {
  background: url(../images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 100vh;
  color: white;
}
.header-parent {
  min-height: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-child {
  width: 100vh;
}
.header-child h1 {
  font-size: 60px;
  font-weight: 900;
}
.header-child p {
  font-size: 20px;
  font-weight: 500;
}

.header-child div {
  margin-top: 40px;
}

/* Header secotion end */

/* Donate today start */
.donate-today-amount-btn {
  padding: 40px 30px;
  margin-left: 15px;
  border: none;
  border-radius: 7px;
  background: rgba(168, 163, 163, 0.356);
  font-size: 30px;
  font-weight: 700;
}
#special-btn {
  border: 3px solid tomato;
  background: rgba(255, 99, 71, 0.116);
  color: tomato;
}
.input-amount input {
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid grey;
  padding: 10px 20px;
}

/* Donate today end */

/* Our Donate Plan start */
.cards {
  text-align: justify;
  margin-left: 30px;
  padding: 20px;
  height: 300px;
  width: 320px;
  border-radius: 7px;
}
.cards h1 {
  font-size: 20px;
  font-weight: 500;
}
.first-card {
  background: rgba(62, 62, 252, 0.192);
}
.second-card {
  background: rgba(252, 193, 116, 0.192);
}
.third-card {
  background: rgba(184, 106, 6, 0.192);
}
.fourth-card {
  background: rgba(18, 214, 83, 0.192);
}
.fifth-card {
  background: rgba(42, 233, 233, 0.192);
}
.sixth-card {
  background: rgba(65, 8, 199, 0.192);
}
/* Our Donate Plan end */

/* Our Services start */
.about-service {
  height: 150px;
  width: 60%;
  text-align: center;
}
.about-service-parent {
  display: flex;
  justify-content: center;
}

.about-service h2 {
  font-size: 40px;
  font-weight: 700;
}
.about-service p {
  font-size: 20px;
  font-weight: 500;
}
.about-service div {
  margin-bottom: 20px;
}
/* Service icon */
.service-icon {
  display: flex;
  justify-content: center;
}
.icon {
  font-size: 20px;
  height: 180px;
  width: 200px;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 15px;
}
.icon img {
  width: 180px;
}
/* Our Servces end */

/* About our activity start */
.about-activity-parent {
  display: flex;
  justify-content: center;
}
.about-activity {
  height: 120px;
  width: 60%;
  text-align: center;
}
.about-activity h2 {
  font-size: 40px;
  font-weight: 700;
}
.about-activity p {
  font-size: 20px;
  font-weight: 500;
}

/* activity image */
.about-acitivity-image {
  display: flex;
  justify-content: center;
}
.activity-image {
  margin-left: 15px;
  margin-bottom: 15px;
  width: 300px;
  height: 250px;
}
.activity-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* About our activity end */

/* Get Update start */
.get-upadate-parent {
  display: flex;
  justify-content: center;
}
.get-update-child {
  height: 170px;
  width: 60%;
  text-align: center;
}
.get-update-child h2 {
  font-size: 40px;
  font-weight: 700;
}
.get-update-child p {
  font-size: 20px;
  font-weight: 500;
}
.get-update-child div {
  margin-bottom: 20px;
}
/* email  */
.get-update-parent {
  display: flex;
  justify-content: center;
}
.get-update {
  background-color: rgba(245, 192, 124, 0.349);
  height: 200px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.email input {
  border: none;
  margin-right: -4px;
  width: 300px;
  background: rgba(192, 185, 185, 0.589);
  padding: 13px;
}
.email button {
  border: none;
  margin: 0;
  background: rgba(250, 100, 74, 0.849);
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
}
/* Get Update end */

/* footer start*/
footer {
  height: 180px;
  background: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-style h3 {
  margin-bottom: 20px;
  color: tomato;
  font-style: italic;
  font-size: 30px;
}
/* footer end*/
