/* General Section start */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lora", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}
.link-button {
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  background: rgb(255, 57, 22);
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.link-button:hover {
  cursor: pointer;
  background: tomato;
}
.content-header {
  min-height: 100px;
  height: 10vh;
  text-align: center;
  border: 3px solid red;
}
.content-header h2 {
  border: 1px solid blue;
  font-size: 43px;
  font-weight: 900;
}
.content-header p {
  border: 1px solid blue;
  font-size: 20px;
  font-weight: 500;
}

/* General Section end */

/* Header section start */
header {
  background: url(../images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  height: 100vh;
  color: white;
  margin-bottom: 150px;
}
.header-parent {
  min-height: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-child {
  width: 100vh;
  min-width: 800px;
}
.header-child h1 {
  font-size: 60px;
  font-weight: 900;
}
.header-child p {
  font-size: 20px;
  margin: 0 5%;
}

.header-child div {
  margin-top: 40px;
}

/* Header secotion end */

/* Donate today start */

/* Donate today end */
